## Instalaciones

In [2]:
!pip install locationtagger
!pip install geopy
!pip install spacy
!pip install geonamescache

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting locationtagger
  Downloading locationtagger-0.0.1-py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 17.4 MB/s eta 0:00:00
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from locationtagger) (3.8.1)
Requirement already satisfied: spacy in /usr/local/lib/python3.10/dist-packages (from locationtagger) (3.5.3)
Collecting newspaper3k (from locationtagger)
  Downloading newspaper3k-0.2.8-py3-none-any.whl (211 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 211.1/211.1 kB 18.3 MB/s eta 0:00:00
Collecting pycountry (from locationtagger)
  Downloading pycountry-22.3.5.tar.gz (10.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.1/10.1 MB 41.9 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: beautifulsoup4>=4.4.1 in /usr/local/lib/python3.10/dist-packages (from newspaper3k->locationtagger) (4.11.2)
Requirement already satisfied: Pillow>=3.3.0 in /usr/local/lib/python3.10/dist-packages (from newspaper3k->locationtagger) (8.4.0)
Requirement already satisfied: PyYAML>=3.11 in /usr/local/lib/python3.10/dist-packages (from newspaper3k->locationtagger) (6.0)
Collecting cssselect>=0.9.2 (from newspaper3k->locationtagger)
  Downloading cssselect-1.2.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: lxml>=3.6.0 in /usr/local/lib/python3.10/dist-packages (from newspaper3k->locationtagger) (4.9.2)
Requirement already satisfied: requests>=2.10.0 in /usr/local/lib/python3.10/dist-packages (from newspaper3k->locationtagger) (2.27.1)
Collecting feedparser>=5.2.1 (from newspaper3k->locationtagger)
  Downloading feedparser-6.0.10-py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.1/81.1 kB 8.9 MB/s eta 0:00:00
Collecting tldextract>=2.0.1 (from newspaper3k->locationtagger)
  Downloading tldextract-3.4.4-py3-none-any.whl (93 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.3/93.3 kB 10.5 MB/s eta 0:00:00
Collecting feedfinder2>=0.0.4 (from newspaper3k->locationtagger)
  Downloading feedfinder2-0.0.4.tar.gz (3.3 kB)
  Preparing metadata (setup.py) ... done
Collecting jieba3k>=0.35.1 (from newspaper3k->locationtagger)
  Downloading jieba3k-0.35.1.zip (7.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.4/7.4 MB 101.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.10/dist-packages (from newspaper3k->locationtagger) (2.8.2)
Collecting tinysegmenter==0.3 (from newspaper3k->locationtagger)
  Downloading tinysegmenter-0.3.tar.gz (16 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->locationtagger) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk->locationtagger) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk->locationtagger) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk->locationtagger) (4.65.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from pycountry->locationtagger) (67.7.2)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (1.0.4)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (1.0.9)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (2.0.7)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (3.0.8)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (8.1.10)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (1.1.2)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (2.4.6)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (2.0.8)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (0.7.0)
Requirement already satisfied: pathy>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (0.10.2)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (6.3.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (1.22.4)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (1.10.9)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (3.1.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (23.1)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from spacy->locationtagger) (3.3.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.4.1->newspaper3k->locationtagger) (2.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from feedfinder2>=0.0.4->newspaper3k->locationtagger) (1.16.0)
Collecting sgmllib3k (from feedparser>=5.2.1->newspaper3k->locationtagger)
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy->locationtagger) (4.6.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10.0->newspaper3k->locationtagger) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10.0->newspaper3k->locationtagger) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10.0->newspaper3k->locationtagger) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10.0->newspaper3k->locationtagger) (3.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.10/dist-packages (from thinc<8.2.0,>=8.1.8->spacy->locationtagger) (0.7.9)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.10/dist-packages (from thinc<8.2.0,>=8.1.8->spacy->locationtagger) (0.0.4)
Collecting requests-file>=1.4 (from tldextract>=2.0.1->newspaper3k->locationtagger)
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: filelock>=3.0.8 in /usr/local/lib/python3.10/dist-packages (from tldextract>=2.0.1->newspaper3k->locationtagger) (3.12.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->spacy->locationtagger) (2.1.3)
Building wheels for collected packages: tinysegmenter, pycountry, feedfinder2, jieba3k, sgmllib3k
  Building wheel for tinysegmenter (setup.py) ... done
  Created wheel for tinysegmenter: filename=tinysegmenter-0.3-py3-none-any.whl size=13541 sha256=5951c30fe3fb37329faf7e4706c28e1cb275ca98a6a9b3b83d954cf3d1fc17d5
  Stored in directory: /root/.cache/pip/wheels/c8/d6/6c/384f58df48c00b9a31d638005143b5b3ac62c3d25fb1447f23
  Building wheel for pycountry (pyproject.toml) ... done
  Created wheel for pycountry: filename=pycountry-22.3.5-py2.py3-none-any.whl size=10681832 sha256=f1f0209d71ab73de6eab72398fa88b5029490b94aa138fd80cdbbce5dde737ae
  Stored in directory: /root/.cache/pip/wheels/03/57/cc/290c5252ec97a6d78d36479a3c5e5ecc76318afcb241ad9dbe
  Building wheel for feedfinder2 (setup.py) ... done
  Created wheel for feedfinder2: filename=feedfinder2-0.0.4-py3-none-any.whl size=3341 sha256=5caf7170e91b14e8ff50735c7b16e82f066dd2d06bf0e9719476fe23caa36693
  Stored in directory: /root/.cache/pip/wheels/97/02/e7/a1ff1760e12bdbaab0ac824fae5c1bc933e41c4ccd6a8f8edb
  Building wheel for jieba3k (setup.py) ... done
  Created wheel for jieba3k: filename=jieba3k-0.35.1-py3-none-any.whl size=7398382 sha256=b5ca93a3a0e1fbef77e62ed702911eb03449f14825abb0eea06175178821992f
  Stored in directory: /root/.cache/pip/wheels/7a/c4/0c/12a9a314ecac499456c4c3b2fcc2f635a3b45a39dfbd240299
  Building wheel for sgmllib3k (setup.py) ... done
  Created wheel for sgmllib3k: filename=sgmllib3k-1.0.0-py3-none-any.whl size=6046 sha256=543477478f7d0413d0a37b46d9f38804007a7937ade33711b6e3e3acebcf3701
  Stored in directory: /root/.cache/pip/wheels/f0/69/93/a47e9d621be168e9e33c7ce60524393c0b92ae83cf6c6e89c5
Successfully built tinysegmenter pycountry feedfinder2 jieba3k sgmllib3k
Installing collected packages: tinysegmenter, sgmllib3k, jieba3k, pycountry, feedparser, cssselect, requests-file, feedfinder2, tldextract, newspaper3k, locationtagger
Successfully installed cssselect-1.2.0 feedfinder2-0.0.4 feedparser-6.0.10 jieba3k-0.35.1 locationtagger-0.0.1 newspaper3k-0.2.8 pycountry-22.3.5 requests-file-1.5.1 sgmllib3k-1.0.0 tinysegmenter-0.3 tldextract-3.4.4
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy) (2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: spacy in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.0.4)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.0.9)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.0.7)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.0.8)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in /usr/local/lib/python3.10/dist-packages (from spacy) (8.1.10)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.1.2)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.4.6)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.0.8)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (0.7.0)
Requirement already satisfied: pathy>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (0.10.2)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.10/dist-packages (from spacy) (6.3.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (4.65.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.22.4)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.27.1)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.10.9)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from spacy) (67.7.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (23.1)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy) (4.6.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.10/dist-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.7.9)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.10/dist-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.0.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.10/dist-packages (from typer<0.8.0,>=0.3.0->spacy) (8.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->spacy) (2.1.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geonamescache
  Downloading geonamescache-1.6.0-py3-none-any.whl (26.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 26.6/26.6 MB 43.6 MB/s eta 0:00:00
Installing collected packages: geonamescache
Successfully installed geonamescache-1.6.0

## Importaciones

In [3]:
import pandas as pd
import spacy
import time
from geopy.geocoders import Nominatim
from geonamescache import GeonamesCache
import numpy as np
import math
import locationtagger
import nltk
nltk.downloader.download('maxent_ne_chunker')
nltk.downloader.download('words')
nltk.downloader.download('treebank')
nltk.downloader.download('maxent_treebank_pos_tagger')
nltk.downloader.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.
[nltk_data] Downloading package treebank to /root/nltk_data...
[nltk_data]   Unzipping corpora/treebank.zip.
[nltk_data] Downloading package maxent_treebank_pos_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/maxent_treebank_pos_tagger.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

## Carga de datos

In [4]:
from google.colab import drive
drive.mount('/content/drive')
df_inicial = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Half_Ironman_df6.csv')
df_inicial

Mounted at /content/drive

,Gender,AgeGroup,AgeBand,Country,CountryISO2,EventYear,EventLocation,SwimTime,Transition1Time,BikeTime,Transition2Time,RunTime,FinishTime
0,M,40-44,40,Andorra,AD,2019,IRONMAN 70.3 South American Championship Bueno...,1679,119,9107,95,5515,16514
1,M,45-49,45,Andorra,AD,2019,IRONMAN 70.3 South American Championship Bueno...,2070,177,9160,132,6070,17609
2,M,45-49,45,Andorra,AD,2020,IRONMAN 70.3 Bariloche,1667,161,9891,122,5190,17031
3,M,45-49,45,Andorra,AD,2019,IRONMAN 70.3 World Championship,1750,183,10363,160,5071,17527
4,M,40-44,40,Andorra,AD,2019,IRONMAN 70.3 World Championship,2063,182,10065,142,5556,18008
...,...,...,...,...,...,...,...,...,...,...,...,...,...
840070,M,50-54,50,Zimbabwe,ZW,2015,IRONMAN 70.3 South Africa,2054,261,10527,160,6070,19072
840071,M,40-44,40,Zimbabwe,ZW,2015,IRONMAN 70.3 South Africa,2449,352,11866,265,8461,23393
840072,F,30-34,30,Zimbabwe,ZW,2015,IRONMAN 70.3 Steelhead,2171,357,11433,332,7754,22047
840073,F,35-39,35,Zimbabwe,ZW,2015,IRONMAN 70.3 Budapest,2100,193,10280,233,6148,18954
840074,F,30-34,30,Zimbabwe,ZW,2015,IRONMAN 70.3 Budapest,2096,244,10630,273,6155,19398

## Se carga ciudad en nueva columna

In [5]:
# Extracción de los nombres de los eventos
eventos = df_inicial['EventLocation'].unique()
eventos

array(['IRONMAN 70.3 South American Championship Buenos Aires',
       'IRONMAN 70.3 Bariloche', 'IRONMAN 70.3 World Championship',
       'IRONMAN 70.3 Victoria', 'IRONMAN 70.3 Marrakech',
       'IRONMAN 70.3 Santa Cruz', 'IRONMAN 70.3 Dublin',
       'IRONMAN 70.3 Taiwan', 'IRONMAN 70.3 Texas',
       'IRONMAN 70.3 Mallorca', 'IRONMAN 70.3 Barcelona',
       'IRONMAN 70.3 Vichy', 'IRONMAN 70.3 Budapest',
       'IRONMAN 70.3 Punta del Este', 'IRONMAN 70.3 Puerto Rico',
       'IRONMAN 70.3 Liuzhou', 'IRONMAN 70.3 UK',
       "IRONMAN 70.3 Coeur d'Alene", 'IRONMAN 70.3 Wisconsin',
       'IRONMAN 70.3 Cartagena', 'IRONMAN 70.3 Marbella',
       'IRONMAN 70.3 European Championship Elsinore',
       'IRONMAN 70.3 Hawaii', 'IRONMAN 70.3 Boulder',
       'IRONMAN 70.3 Cascais Portugal', 'IRONMAN 70.3 Dubai',
       'IRONMAN 70.3 Nice', 'IRONMAN 70.3 Lanzarote',
       "IRONMAN 70.3 Pays D'Aix", 'IRONMAN 70.3 San Juan',
       'IRONMAN 70.3 Switzerland', 'IRONMAN 70.3 European Championship',
       'IRONMAN 70.3 Salzburg / Zell am See', 'IRONMAN 70.3 Muncie',
       'IRONMAN 70.3 Asia-Pacific / Auckland', 'IRONMAN 70.3 Philippines',
       'IRONMAN 70.3 Middle East Championship Bahrain',
       'IRONMAN 70.3 Gdynia', 'IRONMAN 70.3 Davao Philippines',
       "IRONMAN 70.3 Les Sables d'Olonne", 'IRONMAN 70.3 Oman',
       'IRONMAN 70.3 Subic Bay', 'IRONMAN 70.3 Muskoka',
       'IRONMAN 70.3 Turkey', 'IRONMAN 70.3 Durban',
       'IRONMAN 70.3 Vietnam',
       'IRONMAN 70.3 Asia-Pacific Championship Philippines',
       'IRONMAN 70.3 European Championship Wiesbaden',
       'IRONMAN 70.3 Calgary', 'IRONMAN 70.3 Thailand',
       'IRONMAN 70.3 Bintan', 'IRONMAN 70.3 Hefei',
       'IRONMAN 70.3 Chungju', 'IRONMAN 70.3 Costa Rica',
       'IRONMAN 70.3 Haugesund / Norway', 'IRONMAN 70.3 Steelhead',
       'IRONMAN 70.3 Edinburgh', 'IRONMAN 70.3 Colombo',
       'IRONMAN 70.3 Xiamen', 'IRONMAN 70.3 Staffordshire',
       'IRONMAN 70.3 Astana', 'IRONMAN 70.3 Italy',
       'IRONMAN 70.3 Cozumel', 'IRONMAN 70.3 Edinburg',
       'IRONMAN 70.3 Slovenian Istria', 'IRONMAN 70.3 Shanghai',
       'IRONMAN 70.3 Bahrain', 'IRONMAN 70.3 Finland',
       'IRONMAN 70.3 Rhode Island', 'IRONMAN 70.3 Asia-Pacific',
       'IRONMAN 70.3 Florida', 'IRONMAN 70.3 Port Macquarie',
       'IRONMAN 70.3 Sri Lanka', 'IRONMAN 70.3 Japan',
       'IRONMAN 70.3 Mont-Tremblant', 'IRONMAN 70.3 Boise',
       'IRONMAN 70.3 Busselton', 'IRONMAN 70.3 Eagleman',
       'IRONMAN 70.3 Luxembourg', 'IRONMAN 70.3 Miami',
       'IRONMAN 70.3 New Orleans', 'IRONMAN 70.3 Syracuse',
       'IRONMAN 70.3 Silverman', 'IRONMAN 70.3 Mandurah',
       'IRONMAN 70.3 Timberman', 'IRONMAN 70.3 Laguna Phuket',
       'IRONMAN 70.3 Sunshine Coast', 'IRONMAN 70.3 Atlantic City',
       'IRONMAN 70.3 Ohio', 'IRONMAN 70.3 Virginia',
       'IRONMAN 70.3 Superfrog', 'IRONMAN 70.3 Taupo',
       'IRONMAN 70.3 South Africa', 'IRONMAN 70.3 Oceanside California',
       'IRONMAN 70.3 Raleigh', 'IRONMAN 70.3 Austria / St. Polten',
       'IRONMAN 70.3 Oceanside', 'IRONMAN 70.3 St. George',
       'IRONMAN 70.3 Canberra', 'IRONMAN 70.3 Augusta',
       'IRONMAN 70.3 Lake Placid', 'IRONMAN 70.3 Kraichgau',
       'IRONMAN 70.3 Arizona', 'IRONMAN 70.3 Canada',
       'IRONMAN 70.3 Santa Rosa',
       'IRONMAN 70.3 Pan American Pro Championship Panama',
       'IRONMAN 70.3 Subic Bay Philippines', 'IRONMAN 70.3 Maine',
       'IRONMAN 70.3 Emilia Romagna',
       'IRONMAN 70.3 San Juan / Puerto Rico', 'IRONMAN 70.3 Buenos Aires',
       'IRONMAN 70.3 Rio de Janeiro', 'IRONMAN 70.3 Gulf Coast',
       'IRONMAN 70.3 Panama', 'IRONMAN 70.3 Brazil',
       'IRONMAN 70.3 California', 'IRONMAN 70.3 Kansas',
       'IRONMAN 70.3 Racine', 'IRONMAN 70.3 Bangsaen',
       'IRONMAN 70.3 Indian Wells La Quinta', 'IRONMAN 70.3 Waco',
       'IRONMAN 70.3 North Carolina', 'IRONMAN 70.3 Pucon',
       'IRONMAN 70.3 Yeppoon', 'IRONMAN 70.3 Austin',
       'IRONMAN 70.3 Zell am See Kaprun',
       'IRONMAN 70.3 Western Australia', 'IRONMAN 70.3 Los Cabos',
       'IRONMAN 70.3 Sao Paulo', 'IRONMAN 70.3 Campeche',
       'IRONMAN 70.3 Western Sydney', 'IRONMAN 70.3 New Zealand',
       'IRONMAN 70.3 Alagoas', 'IRONMAN 70.3 Fortaleza',
       'IRONMAN 70.3 Geelong', 'IRONMAN 70.3 Ecuador',
       'IRONMAN 70.3 Connecticut', 'IRONMAN 70.3 Coquimbo',
       'IRONMAN 70.3 Foz do IguaÃ§u', 'IRONMAN 70.3 Chattanooga',
       'IRONMAN 70.3 Brazil Paraguay',
       'IRONMAN 70.3 North American Pro Championship St. George',
       'IRONMAN 70.3 St. Croix', 'IRONMAN 70.3 Zell am See-Kaprun',
       'IRONMAN 70.3 South American Championship Palmas',
       'IRONMAN 70.3 Pula', 'IRONMAN 70.3 Monterrey',
       'IRONMAN 70.3 Cairns', 'IRONMAN 70.3 Ruegen',
       'IRONMAN 70.3 Weymouth', 'IRONMAN 70.3 Peru',
       'IRONMAN 70.3 Palmas',
       'IRONMAN 70.3 Asia-Pacific Championship Western Sydney',
       'IRONMAN 70.3 Buffalo Springs Lake', 'IRONMAN 70.3 Jonkoping',
       'IRONMAN 70.3 Dun Laoghaire', 'IRONMAN 70.3 Florianopolis',
       'IRONMAN 70.3 Maceio', 'IRONMAN 70.3 Langkawi',
       'IRONMAN 70.3 Greece Costa Navarino', 'IRONMAN Oceanside',
       'IRONMAN 70.3 Lake Stevens', 'IRONMAN 70.3 Vineman',
       'IRONMAN 70.3 Cancun', 'IRONMAN 70.3 Singapore',
       'IRONMAN 70.3 Zell am See', 'IRONMAN 70.3 Galway',
       'IRONMAN 70.3 Putrajaya', 'IRONMAN 70.3 Princeton',
       'IRONMAN 70.3 Kronborg',
       'IRONMAN 70.3 Luxembourg - RÃ©gion Moselle', 'IRONMAN 70.3 Goa',
       'IRONMAN 70.3 Korea', 'IRONMAN 70.3 Busan', 'IRONMAN 70.3 Qujing',
       'IRONMAN 70.3 Asia-Pacific Championship', 'IRONMAN 70.3 Branson',
       'IRONMAN 70.3 Haugesund', 'IRONMAN 70.3 Aarhus',
       'IRONMAN 70.3 Berlin', 'IRONMAN 70.3 Goseong',
       'IRONMAN 70.3 Lubbock', 'IRONMAN 70.3 Traverse City',
       'IRONMAN 70.3 Incheon Korea', 'IRONMAN 70.3 Ballarat',
       'IRONMAN 70.3 Saipan', 'IRONMAN Triathlon Kohala Coast',
       'IRONMAN 70.3 Mooseman', 'IRONMAN 70.3 China',
       'IRONMAN 70.3 Shepparton', 'IRONMAN 70.3 Pocono Mountains',
       'IRONMAN Lake Tahoe', 'IRONMAN 70.3 Tallinn',
       'IRONMAN 70.3 Otepaa', 'IRONMAN 70.3 Jeju'], dtype=object)

### Se define una función para obtener la ciudad a partir del nombre del evento.

In [6]:
nlp = spacy.load("en_core_web_sm")

gc = GeonamesCache() #Instancia de GeonamesCache para obtener las ciudades a patir textos

ciudades = gc.get_cities()
nombres_ciudad = [city['name'] for city in ciudades.values()]

def obtener_lugar(texto):
  '''Obtiene ciudades a partir de un texto,
     se utilizara para extraer las ciudades
     del nombre de los eventos.'''
  lugar_entidad = locationtagger.find_locations(text = texto)
  ciudades = lugar_entidad.cities
  regiones = lugar_entidad.regions
  paises = lugar_entidad.countries
  if len(ciudades) > 0:
    return ciudades[0]
  if len(regiones) > 0:
    return regiones[0]
  if len(paises) > 0:
    return paises[0]
  doc = nlp(texto)
  for ent in doc.ents:
    if ent.label_ == "GPE":
      ciudad = ent.text
      if ciudad != '':
        return ciudad
  for ciudad in nombres_ciudad:
    if ciudad in texto.split(' '):
      return ciudad

In [7]:
eventos_con_lugar = {}

for evento in eventos:
  eventos_con_lugar[evento] = obtener_lugar(evento)

#### Los diccionarios no tienen método head, se realiza el siguiente paso para visualizar algunos datos.

In [8]:
n_max = 10
primeros_eventos = {k: eventos_con_lugar[k] for i, k in enumerate(eventos_con_lugar) if i < n_max}

for clave, valor in primeros_eventos.items():
    print(clave,"||| Ciudad --->" ,valor)

IRONMAN 70.3 South American Championship Buenos Aires ||| Ciudad ---> Buenos Aires
IRONMAN 70.3 Bariloche ||| Ciudad ---> None
IRONMAN 70.3 World Championship ||| Ciudad ---> None
IRONMAN 70.3 Victoria ||| Ciudad ---> Victoria
IRONMAN 70.3 Marrakech ||| Ciudad ---> None
IRONMAN 70.3 Santa Cruz ||| Ciudad ---> Santa Cruz
IRONMAN 70.3 Dublin ||| Ciudad ---> Dublin
IRONMAN 70.3 Taiwan ||| Ciudad ---> Taiwan
IRONMAN 70.3 Texas ||| Ciudad ---> Texas
IRONMAN 70.3 Mallorca ||| Ciudad ---> None

#### Se observa que quedan algunos eventos sin ciudad.

### Se agrega el Lugar al dataframe con el resto de datos.

In [9]:
df_con_lugar = df_inicial.copy()
df_con_lugar['Lugar'] = df_con_lugar['EventLocation'].map(eventos_con_lugar)

# Eventos con lugar es un diccionario donde la key es EventLocation y el value es la ciudad
# La funcióm map asigna a la columna Lugar, la ciudad asociada al EventLocation que es clave.
# Es equivalente a que eventos_con_lugar sea un dataframe con dos columnas, EventLocation y ciudad
# y hacer un join con df_con_lugar por la clave EventLocation.

### Se agrega manualmente el lugar del evento, para los cuales la función obtener_lugar no devolvio nada.

In [10]:
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Bariloche', 'Lugar'] = 'San Carlos de Bariloche'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Marrakech', 'Lugar'] = 'Marrakech'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Mallorca', 'Lugar'] = 'Mallorca'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Middle East Championship Bahrain', 'Lugar'] = 'Bahrain'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Gulf Coast', 'Lugar'] = 'Gulf Coast'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Eagleman', 'Lugar'] = 'Maryland'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Steelhead', 'Lugar'] = 'Michigan'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 European Championship Elsinore', 'Lugar'] = 'Elsinore'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Lanzarote', 'Lugar'] = 'Lanzarote'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Ruegen', 'Lugar'] = 'Ruegen'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Lanzarote', 'Lugar'] = 'Lanzarote'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Indian Wells La Quinta', 'Lugar'] = 'Indian Wells'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Staffordshire', 'Lugar'] = 'Staffordshire'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Zell am See-Kaprun', 'Lugar'] = 'Kaprun'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Timberman', 'Lugar'] = 'Laconia'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Muskoka', 'Lugar'] = 'Huntsville'
df_con_lugar.loc[df_con_lugar['EventLocation'] == "IRONMAN 70.3 Pays D'Aix", 'Lugar'] = 'Aix-En-Provence'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Sunshine Coast', 'Lugar'] = 'Mooloolaba'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Kronborg', 'Lugar'] = 'Elsinore'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Bintan', 'Lugar'] = 'Bintan'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Silverman', 'Lugar'] = 'Nevada'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Bahrain', 'Lugar'] = 'Bahrain'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Zell am See', 'Lugar'] = 'Kaprun'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Mont-Tremblant', 'Lugar'] = 'Mont-Tremblant'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Cancun', 'Lugar'] = 'Cancun'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN Lake Tahoe', 'Lugar'] = 'Lake Tahoe'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Vineman', 'Lugar'] = 'Guerneville'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Mooseman', 'Lugar'] = 'Newfound Lake'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Superfrog', 'Lugar'] = 'Imperial Beach'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Kraichgau', 'Lugar'] = 'Kraichgau'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Emilia Romagna', 'Lugar'] = 'Cervia'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Bangsaen', 'Lugar'] = 'Bangsaen'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Zell am See Kaprun', 'Lugar'] = 'Kaprun'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Los Cabos', 'Lugar'] = 'Los Cabos'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Alagoas', 'Lugar'] = 'Maceió'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Langkawi', 'Lugar'] = 'Langkawi'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Foz do IguaÃ§u', 'Lugar'] = 'Foz Do Iguaçu'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Dun Laoghaire', 'Lugar'] = 'Dublin'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Florianopolis', 'Lugar'] = 'Florianopolis'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Jonkoping', 'Lugar'] = 'Jönköping'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Maceio', 'Lugar'] = 'Maceió'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Korea', 'Lugar'] = 'Goseong'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Otepaa', 'Lugar'] = 'Otepää'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Pocono Mountains', 'Lugar'] = 'Stroudsburg'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Jeju', 'Lugar'] = 'Jeju-do'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Asia-Pacific', 'Lugar'] = 'Phuket'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Asia-Pacific Championship', 'Lugar'] = 'Cebú'
df_con_lugar.loc[df_con_lugar['EventLocation'] == 'IRONMAN 70.3 Pan American Pro Championship Panama', 'Lugar'] = 'Panamá'

# Campeonatos europeos
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 European Championship') & (df_con_lugar['EventYear'] == 2011), 'Lugar'] = 'Wiesbaden'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 European Championship') & (df_con_lugar['EventYear'] == 2012), 'Lugar'] = 'Wiesbaden'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 European Championship') & (df_con_lugar['EventYear'] == 2013), 'Lugar'] = 'Wiesbaden'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 European Championship') & (df_con_lugar['EventYear'] == 2014), 'Lugar'] = 'Wiesbaden'

# Campeonatos mundiales
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2006), 'Lugar'] = 'Clearwater'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2009), 'Lugar'] = 'Clearwater'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2011), 'Lugar'] = 'Las Vegas'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2012), 'Lugar'] = 'Las Vegas'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2013), 'Lugar'] = 'Las Vegas'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2014), 'Lugar'] = 'Mont-Tremblant'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2015), 'Lugar'] = 'Kaprun'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2016), 'Lugar'] = 'Mooloolaba'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2017), 'Lugar'] = 'Chattanooga'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2018), 'Lugar'] = 'Nelson Mandela Bay'
df_con_lugar.loc[(df_con_lugar['EventLocation'] == 'IRONMAN 70.3 World Championship') & (df_con_lugar['EventYear'] == 2019), 'Lugar'] = 'Nice'

In [11]:
df_con_lugar.head()

,Gender,AgeGroup,AgeBand,Country,CountryISO2,EventYear,EventLocation,SwimTime,Transition1Time,BikeTime,Transition2Time,RunTime,FinishTime,Lugar
0,M,40-44,40,Andorra,AD,2019,IRONMAN 70.3 South American Championship Bueno...,1679,119,9107,95,5515,16514,Buenos Aires
1,M,45-49,45,Andorra,AD,2019,IRONMAN 70.3 South American Championship Bueno...,2070,177,9160,132,6070,17609,Buenos Aires
2,M,45-49,45,Andorra,AD,2020,IRONMAN 70.3 Bariloche,1667,161,9891,122,5190,17031,San Carlos de Bariloche
3,M,45-49,45,Andorra,AD,2019,IRONMAN 70.3 World Championship,1750,183,10363,160,5071,17527,Nice
4,M,40-44,40,Andorra,AD,2019,IRONMAN 70.3 World Championship,2063,182,10065,142,5556,18008,Nice

## Función que obtiene la Longitud y la Latitud del lugar del evento.

In [39]:
# Inicialización del geocoder
geolocator = Nominatim(user_agent="my_geocoder")

def get_latitud_longitud(lugar):
  '''Devuelve latitud y longitud de un lugar'''
  try:
    location = geolocator.geocode(lugar)
    return location.latitude, location.longitude
  except:
  # Si no hay lugar, devuelve nan nan
    return np.nan, np.nan

In [13]:
lugares = set(df_con_lugar['Lugar'])
lugares_con_latitud_longitud = {}
for lugar in lugares:
  lugares_con_latitud_longitud[lugar] = get_latitud_longitud(lugar)

# lugares_con_latitud_longitud es un diccionario, donde la key es el lugar del evento y el value la latidud y longitud

## Se carga latitud y longitud

In [14]:
df_con_lugar['Latitud'] = df_con_lugar['Lugar'].map(lambda lugar: lugares_con_latitud_longitud[lugar][0])
df_con_lugar['Longitud'] = df_con_lugar['Lugar'].map(lambda lugar: lugares_con_latitud_longitud[lugar][1])
df_con_lugar

,Gender,AgeGroup,AgeBand,Country,CountryISO2,EventYear,EventLocation,SwimTime,Transition1Time,BikeTime,Transition2Time,RunTime,FinishTime,Lugar,Latitud,Longitud
0,M,40-44,40,Andorra,AD,2019,IRONMAN 70.3 South American Championship Bueno...,1679,119,9107,95,5515,16514,Buenos Aires,-34.607568,-58.437089
1,M,45-49,45,Andorra,AD,2019,IRONMAN 70.3 South American Championship Bueno...,2070,177,9160,132,6070,17609,Buenos Aires,-34.607568,-58.437089
2,M,45-49,45,Andorra,AD,2020,IRONMAN 70.3 Bariloche,1667,161,9891,122,5190,17031,San Carlos de Bariloche,-41.133442,-71.309843
3,M,45-49,45,Andorra,AD,2019,IRONMAN 70.3 World Championship,1750,183,10363,160,5071,17527,Nice,43.700936,7.268391
4,M,40-44,40,Andorra,AD,2019,IRONMAN 70.3 World Championship,2063,182,10065,142,5556,18008,Nice,43.700936,7.268391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840070,M,50-54,50,Zimbabwe,ZW,2015,IRONMAN 70.3 South Africa,2054,261,10527,160,6070,19072,South Africa,-28.816624,24.991639
840071,M,40-44,40,Zimbabwe,ZW,2015,IRONMAN 70.3 South Africa,2449,352,11866,265,8461,23393,South Africa,-28.816624,24.991639
840072,F,30-34,30,Zimbabwe,ZW,2015,IRONMAN 70.3 Steelhead,2171,357,11433,332,7754,22047,Michigan,43.621195,-84.682435
840073,F,35-39,35,Zimbabwe,ZW,2015,IRONMAN 70.3 Budapest,2100,193,10280,233,6148,18954,Budapest,47.497892,19.040161
840074,F,30-34,30,Zimbabwe,ZW,2015,IRONMAN 70.3 Budapest,2096,244,10630,273,6155,19398,Budapest,47.497892,19.040161

## Se agrega el país de cada evento

In [15]:
def obtener_pais(latitud, longitud):
    geolocator = Nominatim(user_agent='my_app')
    geolocator.headers['Accept-Language'] = 'en'
    ubicacion = geolocator.reverse(f"{latitud}, {longitud}", exactly_one=True)
    if ubicacion:
        direccion = ubicacion.raw['address']
        pais = direccion.get('country')
        return pais
    else:
        return None

#### Se crea un nuevo dataframe que contenga las Latitudes y Longitudes, sin duplicados.

In [16]:
ciudades = df_con_lugar[['Latitud','Longitud']].drop_duplicates()

ciudades.reset_index(inplace= True)

In [17]:
paises = {}

for ciudad in range(len(ciudades)):
  paises[ciudades.loc[ciudad, 'Latitud']] = obtener_pais(ciudades.loc[ciudad, 'Latitud'], ciudades.loc[ciudad, 'Longitud'])

WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /reverse?lat=43.7009358&lon=7.2683912&format=json&addressdetails=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /reverse?lat=43.5298424&lon=5.4474738&format=json&addressdetails=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /reverse?lat=50.0820384&lon=8.2416556&format=json&addressdetails=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /reverse?lat=47.7981346&lon=13.0464806&format=json&addressdetails=1

#### Se agrega el país.

In [18]:
df_con_lugar['Pais'] = df_con_lugar['Latitud'].map(lambda pais: paises[pais])

In [19]:
df_con_lugar.to_csv('/content/drive/MyDrive/Colab Notebooks/df_con_cupos.csv', index = False)

### Se crea un dataframe con los datos de los eventos, sin duplicados para poder generar los nodos de la base de datos.

In [20]:
lugares = df_con_lugar[['EventLocation', 'Lugar', 'Latitud', 'Longitud', 'Pais', 'EventYear']].drop_duplicates()

In [21]:
lugares.reset_index(inplace= True)

In [22]:
lugares['EsMundial'] = lugares['EventLocation'] == 'IRONMAN 70.3 World Championship'
lugares.to_csv('/content/drive/MyDrive/Colab Notebooks/ciudades_paises.csv', index = True)

### Se crea un dataframe con los paises, tanto de los eventos como de los participantes

In [23]:
paises_competidores = df_con_lugar['Country'].drop_duplicates().to_frame()
paises_competidores.reset_index(inplace = True)

In [24]:
paises_competidores

      index               Country
0         0               Andorra
1       114  United Arab Emirates
2       559           Afghanistan
3       592   Antigua and Barbuda
4       600              Anguilla
..      ...                   ...
235  821579                 Yemen
236  821583               Mayotte
237  821585          South Africa
238  839961                Zambia
239  839967              Zimbabwe

[240 rows x 2 columns]

In [25]:
paises_competencias = df_con_lugar['Pais'].drop_duplicates().to_frame()
paises_competencias.reset_index(inplace = True)

In [26]:
# Necesario para crear los nodos de paises que no son de eventos.
paises_que_faltan = paises_competidores['Country'][~paises_competidores['Country'].isin(paises_competencias['Pais'])].dropna()

In [27]:
paises_que_faltan

0                  Andorra
2              Afghanistan
3      Antigua and Barbuda
4                 Anguilla
5                  Albania
              ...
234                  Samoa
235                  Yemen
236                Mayotte
238                 Zambia
239               Zimbabwe
Name: Country, Length: 189, dtype: object

In [28]:
paises_que_faltan.to_csv('/content/drive/MyDrive/Colab Notebooks/paises_faltantes.csv', index = False)

In [29]:
paises_competidores

      index               Country
0         0               Andorra
1       114  United Arab Emirates
2       559           Afghanistan
3       592   Antigua and Barbuda
4       600              Anguilla
..      ...                   ...
235  821579                 Yemen
236  821583               Mayotte
237  821585          South Africa
238  839961                Zambia
239  839967              Zimbabwe

[240 rows x 2 columns]

In [30]:
paises_totales = set(pd.concat([paises_competencias, pd.DataFrame({'Pais': paises_que_faltan})])['Pais'])
paises_totales

{'Afghanistan',
 'Aland Islands',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bonaire, Saint Eustatius and Saba',
 'Bosnia and Herzegovina',
 'Botswana',
 'Bouvet Island',
 'Brazil',
 'British Indian Ocean Territory',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Christmas Island',
 'Cocos (Keeling) Islands',
 'Colombia',
 'Comoros',
 'Congo Republic',
 'Cook Islands',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'DR Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Faeroe Islands',
 'Falkland Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'French Southern Territories',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyz Republic',
 'Laos',
 'Latvia',
 'Lebanon',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Madagascar',
 'Malaysia',
 'Maldives',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norfolk Island',
 'North Korea',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Pitcairn',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint-Martin',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Georgia and South Sandwich Is.',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Barths',
 'St. Helena',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Pierre and Miquelon',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Türkiye',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States Minor Outlying Islands',
 'United States Virgin Islands',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican',
 'Venezuela',
 'Vietnam',
 'Wallis and Futuna Islands',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [40]:
paises_con_latitud_longitud = {}
for pais in paises_totales:
  paises_con_latitud_longitud[pais] = get_latitud_longitud(pais)
paises_con_latitud_longitud

Norfolk Island
Philippines
San Marino
Costa Rica
Indonesia
Latvia
New Caledonia
Türkiye
Mayotte
Lebanon
Greenland
Mexico
Malta
Bhutan
South Africa
Central African Republic
Peru
Falkland Islands
China
United Arab Emirates
Cyprus
Serbia
South Korea
Norway
French Southern Territories
Venezuela
British Virgin Islands
Sierra Leone
Panama
Syria
Chad
Fiji
United States Virgin Islands
Algeria
Somalia
Turkmenistan
Malaysia
Azerbaijan
Finland
Botswana
Brazil
French Guiana
France
Israel
Laos
Italy
Sweden
Jordan
Tunisia
Macau
Lithuania
American Samoa
Romania
Suriname
Greece
Spain
Nicaragua
Benin
Monaco
Northern Mariana Islands
Canada
United States Minor Outlying Islands
Dominica
Bahrain
Equatorial Guinea
Antarctica
Austria
Egypt
Yemen
Saudi Arabia
Turks and Caicos Islands
Anguilla
Belgium
Western Sahara
Poland
Vietnam
Guatemala
Croatia
Bulgaria
Colombia
Seychelles
Congo Republic
Turkey
North Macedonia
Martinique
Antigua and Barbuda
Bouvet Island
Belize
Andorra
Liberia
Haiti
Afghanistan
Singapore
St. Barths
Dominican Republic
Eritrea
Georgia
Burundi
Djibouti
Iceland
Taiwan
Russia
Grenada
Nepal
Senegal
Kyrgyz Republic
Iran
Puerto Rico
Togo
St. Lucia
Sao Tome and Principe
Belarus
Moldova
Uzbekistan
St. Pierre and Miquelon
Cameroon
Libya
Vatican
Solomon Islands
Niue
British Indian Ocean Territory
Ghana
Curacao
India
South Georgia and South Sandwich Is.
Jersey
Pitcairn
Luxembourg
Bangladesh
Sudan
Tuvalu
Wallis and Futuna Islands
Gibraltar
Portugal
New Zealand
Timor-Leste
Eswatini
Christmas Island
Bolivia
Bosnia and Herzegovina
Cuba
Isle of Man
St. Helena
Papua New Guinea
Sint Maarten
Faeroe Islands
DR Congo
Guinea
Pakistan
St. Kitts and Nevis
Kiribati
Reunion
Guam
El Salvador
Japan
Germany
French Polynesia
Cambodia
Thailand
Iraq
Cook Islands
Brunei Darussalam
Honduras
Ireland
Guernsey
North Korea
Nauru
Rwanda
United Kingdom
Micronesia, Fed. Sts.
Kenya
Qatar
Cote d'Ivoire
Mongolia
Czech Republic
Tajikistan
Tanzania
Ethiopia
Slovakia
Paraguay
Angola
Barbados
Montenegro
Ecuador
Slovenia
Montserrat
United States
Switzerland
Australia
Tonga
Marshall Islands
St. Vincent and the Grenadines
Denmark
Aruba
Bermuda
Saint-Martin
Mauritius
Kazakhstan
Guinea-Bissau
Zimbabwe
Bahamas
Chile
Uruguay
Hong Kong
Argentina
Madagascar
Zambia
Guadeloupe
Estonia
Nigeria
South Sudan
Cocos (Keeling) Islands
Liechtenstein
Hungary
Gabon
Kuwait
Gambia
Jamaica
Netherlands
Morocco
Cayman Islands
Maldives
Bonaire, Saint Eustatius and Saba
Oman
Palestine
Aland Islands
Guyana
Myanmar
Uganda
Sri Lanka
Albania
Ukraine
Burkina Faso
Samoa
Cabo Verde
Armenia
Mozambique
Niger
Vanuatu
Comoros
Trinidad and Tobago

{'Norfolk Island': (-29.0328038, 167.9483137),
 'Philippines': (12.7503486, 122.7312101),
 'San Marino': (43.9458623, 12.458306),
 'Costa Rica': (10.2735633, -84.0739102),
 'Indonesia': (-2.4833826, 117.8902853),
 'Latvia': (56.8406494, 24.7537645),
 'New Caledonia': (-21.3019905, 165.4880773),
 'Türkiye': (38.9597594, 34.9249653),
 'Mayotte': (-12.825543, 45.148490830203045),
 'Lebanon': (33.8750629, 35.843409),
 'Greenland': (77.6192349, -42.8125967),
 'Mexico': (23.6585116, -102.0077097),
 'Malta': (35.8885993, 14.4476911),
 'Bhutan': (27.549511, 90.5119273),
 'South Africa': (-28.8166236, 24.991639),
 'Central African Republic': (7.0323598, 19.9981227),
 'Peru': (-6.8699697, -75.0458515),
 'Falkland Islands': (-51.9492937, -59.5383657),
 'China': (35.000074, 104.999927),
 'United Arab Emirates': (24.0002488, 53.9994829),
 'Cyprus': (34.9823018, 33.1451285),
 'Serbia': (44.1534121, 20.55144),
 'South Korea': (36.638392, 127.6961188),
 'Norway': (61.1529386, 8.7876653),
 'French Southern Territories': (-49.237441950000004, 69.62275903679347),
 'Venezuela': (8.0018709, -66.1109318),
 'British Virgin Islands': (18.4024395, -64.5661642),
 'Sierra Leone': (8.6400349, -11.8400269),
 'Panama': (8.559559, -81.1308434),
 'Syria': (34.6401861, 39.0494106),
 'Chad': (15.6134137, 19.0156172),
 'Fiji': (-18.1239696, 179.0122737),
 'United States Virgin Islands': (17.789187, -64.7080574),
 'Algeria': (28.0000272, 2.9999825),
 'Somalia': (8.3676771, 49.083416),
 'Turkmenistan': (39.3763807, 59.3924609),
 'Malaysia': (4.5693754, 102.2656823),
 'Azerbaijan': (40.3936294, 47.7872508),
 'Finland': (63.2467777, 25.9209164),
 'Botswana': (-23.1681782, 24.5928742),
 'Brazil': (-10.3333333, -53.2),
 'French Guiana': (4.0039882, -52.999998),
 'France': (46.603354, 1.8883335),
 'Israel': (30.8124247, 34.8594762),
 'Laos': (20.0171109, 103.378253),
 'Italy': (42.6384261, 12.674297),
 'Sweden': (59.6749712, 14.5208584),
 'Jordan': (31.1667049, 36.941628),
 'Tunisia': (33.8439408, 9.400138),
 'Macau': (22.1899448, 113.5380454),
 'Lithuania': (55.3500003, 23.7499997),
 'American Samoa': (-14.297124, -170.7131481),
 'Romania': (45.9852129, 24.6859225),
 'Suriname': (4.1413025, -56.0771187),
 'Greece': (38.9953683, 21.9877132),
 'Spain': (39.3260685, -4.8379791),
 'Nicaragua': (12.6090157, -85.2936911),
 'Benin': (9.5293472, 2.2584408),
 'Monaco': (43.7323492, 7.4276832),
 'Northern Mariana Islands': (15.1753648, 145.7379338),
 'Canada': (61.0666922, -107.991707),
 'United States Minor Outlying Islands': (16.7288207, -169.5333824),
 'Dominica': (19.0974031, -70.3028026),
 'Bahrain': (26.1551249, 50.5344606),
 'Equatorial Guinea': (1.613172, 10.5170357),
 'Antarctica': (-79.4063075, 0.3149312),
 'Austria': (47.59397, 14.12456),
 'Egypt': (26.2540493, 29.2675469),
 'Yemen': (16.3471243, 47.8915271),
 'Saudi Arabia': (25.6242618, 42.3528328),
 'Turks and Caicos Islands': (21.721746, -71.5527809),
 'Anguilla': (18.1954947, -63.0750234),
 'Belgium': (50.6402809, 4.6667145),
 'Western Sahara': (24.16819605, -13.892143025000001),
 'Poland': (52.215933, 19.134422),
 'Vietnam': (15.9266657, 107.9650855),
 'Guatemala': (15.5855545, -90.345759),
 'Croatia': (45.3658443, 15.6575209),
 'Bulgaria': (42.6073975, 25.4856617),
 'Colombia': (4.099917, -72.9088133),
 'Seychelles': (-4.6574977, 55.4540146),
 'Congo Republic': (6.2729535, -10.74563),
 'Turkey': (38.9597594, 34.9249653),
 'North Macedonia': (41.6171214, 21.7168387),
 'Martinique': (14.6367927, -61.01582685063731),
 'Antigua and Barbuda': (17.2234721, -61.9554608),
 'Bouvet Island': (-54.4201305, 3.3599732952297483),
 'Belize': (16.8259793, -88.7600927),
 'Andorra': (42.5407167, 1.5732033),
 'Liberia': (5.7499721, -9.3658524),
 'Haiti': (19.1399952, -72.3570972),
 'Afghanistan': (33.7680065, 66.2385139),
 'Singapore': (1.357107, 103.8194992),
 'St. Barths': (17.9036287, -62.81152921501989),
 'Dominican Republic': (19.0974031, -70.3028026),
 'Eritrea': (15.9500319, 37.9999668),
 'Georgia': (32.3293809, -83.1137366),
 'Burundi': (-3.426449, 29.9324519),
 'Djibouti': (11.8145966, 42.8453061),
 'Iceland': (64.9841821, -18.1059013),
 'Taiwan': (23.9739374, 120.9820179),
 'Russia': (64.6863136, 97.7453061),
 'Grenada': (12.1360374, -61.6904045),
 'Nepal': (28.1083929, 84.0917139),
 'Senegal': (14.4750607, -14.4529612),
 'Kyrgyz Republic': (41.5089324, 74.724091),
 'Iran': (32.6475314, 54.5643516),
 'Puerto Rico': (18.2247706, -66.4858295),
 'Togo': (8.7800265, 1.0199765),
 'St. Lucia': (13.90904385, -60.97792414113452),
 'Sao Tome and Principe': (0.9713095, 7.02255),
 'Belarus': (53.4250605, 27.6971358),
 'Moldova': (47.2879608, 28.5670941),
 'Uzbekistan': (41.32373, 63.9528098),
 'St. Pierre and Miquelon': (46.783246899999995, -56.195158907484085),
 'Cameroon': (4.6125522, 13.1535811),
 'Libya': (26.8234472, 18.1236723),
 'Vatican': (41.903411, 12.4528527),
 'Solomon Islands': (-8.7053941, 159.1070693851845),
 'Niue': (-19.0536414, -169.861341),
 'British Indian Ocean Territory': (-5.3497093499999995, 71.86064227010121),
 'Ghana': (8.0300284, -1.0800271),
 'Curacao': (12.21339425, -69.0408499890865),
 'India': (22.3511148, 78.6677428),
 'South Georgia and South Sandwich Is.': (-54.8432857, -35.8090698),
 'Jersey': (49.2214561, -2.1358386),
 'Pitcairn': (-25.0657719, -130.101782),
 'Luxembourg': (49.8158683, 6.1296751),
 'Bangladesh': (24.4769288, 90.2934413),
 'Sudan': (14.5844444, 29.4917691),
 'Tuvalu': (-8.6405212, 179.1582918181797),
 'Wallis and Futuna Islands': (-13.289402, -176.204224),
 'Gibraltar': (36.1285933, -5.3474761),
 'Portugal': (39.6621648, -8.1353519),
 'New Zealand': (-41.5000831, 172.8344077),
 'Timor-Leste': (-8.7443169, 126.063482),
 'Eswatini': (-26.5624806, 31.3991317),
 'Christmas Island': (-10.49124145, 105.6173514897963),
 'Bolivia': (-17.0568696, -64.9912286),
 'Bosnia and Herzegovina': (44.3053476, 17.5961467),
 'Cuba': (23.0131338, -80.8328748),
 'Isle of Man': (54.1936805, -4.5591148),
 'St. Helena': (-15.96545515, -5.702575637953244),
 'Papua New Guinea': (-5.6816069, 144.2489081),
 'Sint Maarten': (18.0423736, -63.0549948),
 'Faeroe Islands': (62.0448724, -7.0322972),
 'DR Congo': (-2.9814344, 23.8222636),
 'Guinea': (10.7226226, -10.7083587),
 'Pakistan': (30.3308401, 71.247499),
 'St. Kitts and Nevis': (17.250512, -62.6725973),
 'Kiribati': (0.3448612, 173.6641773),
 'Reunion': (-21.130737949999997, 55.536480112992315),
 'Guam': (13.450125700000001, 144.75755102972062),
 'El Salvador': (13.8000382, -88.9140683),
 'Japan': (36.5748441, 139.2394179),
 'Germany': (51.1638175, 10.4478313),
 'French Polynesia': (-17.0243749, -144.6434898),
 'Cambodia': (12.5433216, 104.8144914),
 'Thailand': (14.8971921, 100.83273),
 'Iraq': (33.0955793, 44.1749775),
 'Cook Islands': (-19.99697155, -157.78587140620786),
 'Brunei Darussalam': (4.4137155, 114.5653908),
 'Honduras': (15.2572432, -86.0755145),
 'Ireland': (52.865196, -7.9794599),
 'Guernsey': (49.4566233, -2.5822348),
 'North Korea': (40.3736611, 127.0870417),
 'Nauru': (-0.5268357, 166.9341755),
 'Rwanda': (-1.9646631, 30.0644358),
 'United Kingdom': (54.7023545, -3.2765753),
 'Micronesia, Fed. Sts.': (nan, nan),
 'Kenya': (1.4419683, 38.4313975),
 'Qatar': (25.3336984, 51.2295295),
 "Cote d'Ivoire": (7.9897371, -5.5679458),
 'Mongolia': (46.8250388, 103.8499736),
 'Czech Republic': (49.7439047, 15.3381061),
 'Tajikistan': (38.6281733, 70.8156541),
 'Tanzania': (-6.5247123, 35.7878438),
 'Ethiopia': (10.2116702, 38.6521203),
 'Slovakia': (48.7411522, 19.4528646),
 'Paraguay': (-23.3165935, -58.1693445),
 'Angola': (-11.8775768, 17.5691241),
 'Barbados': (13.1500331, -59.5250305),
 'Montenegro': (42.9868853, 19.5180992),
 'Ecuador': (-1.3397668, -79.3666965),
 'Slovenia': (46.1199444, 14.8153333),
 'Montserrat': (16.7417041, -62.1916844),
 'United States': (39.7837304, -100.445882),
 'Switzerland': (46.7985624, 8.2319736),
 'Australia': (-24.7761086, 134.755),
 'Tonga': (-19.9160819, -175.202642),
 'Marshall Islands': (8.9995549, 168.0002575),
 'St. Vincent and the Grenadines': (12.90447, -61.2765569),
 'Denmark': (55.670249, 10.3333283),
 'Aruba': (12.51756625, -69.98186415210564),
 'Bermuda': (32.30382, -64.7561647),
 'Saint-Martin': (18.0814066, -63.0467131),
 'Mauritius': (-20.2759451, 57.5703566),
 'Kazakhstan': (48.1012954, 66.7780818),
 'Guinea-Bissau': (11.815215, -15.2351044),
 'Zimbabwe': (-18.4554963, 29.7468414),
 'Bahamas': (24.7736546, -78.0000547),
 'Chile': (-31.7613365, -71.3187697),
 'Uruguay': (-32.8755548, -56.0201525),
 'Hong Kong': (22.2793278, 114.1628131),
 'Argentina': (-34.9964963, -64.9672817),
 'Madagascar': (-18.9249604, 46.4416422),
 'Zambia': (-14.5189121, 27.5589884),
 'Guadeloupe': (16.2528827, -61.5686855),
 'Estonia': (58.7523778, 25.3319078),
 'Nigeria': (9.6000359, 7.9999721),
 'South Sudan': (7.8699431, 29.6667897),
 'Cocos (Keeling) Islands': (-12.0728315, 96.8409375),
 'Liechtenstein': (47.1416307, 9.5531527),
 'Hungary': (47.1817585, 19.5060937),
 'Gabon': (-0.8999695, 11.6899699),
 'Kuwait': (29.2733964, 47.4979476),
 'Gambia': (13.470062, -15.4900464),
 'Jamaica': (18.1850507, -77.3947693),
 'Netherlands': (52.2434979, 5.6343227),
 'Morocco': (31.1728205, -7.3362482),
 'Cayman Islands': (19.703182249999998, -79.9174627243246),
 'Maldives': (3.7203503, 73.2244152),
 'Bonaire, Saint Eustatius and Saba': (12.11632955, -68.22087151226087),
 'Oman': (21.0000287, 57.0036901),
 'Palestine': (31.462420950000002, 34.262716572130714),
 'Aland Islands': (60.2166218, 19.9438638),
 'Guyana': (4.8417097, -58.6416891),
 'Myanmar': (17.1750495, 95.9999652),
 'Uganda': (1.5333554, 32.2166578),
 'Sri Lanka': (7.877395849999999, 80.66247852355892),
 'Albania': (41.000028, 19.9999619),
 'Ukraine': (49.4871968, 31.2718321),
 'Burkina Faso': (12.0753083, -1.6880314),
 'Samoa': (-13.7693895, -172.12005),
 'Cabo Verde': (16.0000552, -24.0083947),
 'Armenia': (40.7696272, 44.6736646),
 'Mozambique': (-19.302233, 34.9144977),
 'Niger': (17.7356214, 9.3238432),
 'Vanuatu': (-16.5255069, 168.1069154),
 'Comoros': (-12.2045176, 44.2832964),
 'Trinidad and Tobago': (10.7466905, -61.0840075)}

In [45]:
df_paises = pd.DataFrame.from_dict(paises_con_latitud_longitud, orient='index', columns=['Latitud', 'Longitud']).reset_index()
df_paises.columns = ['Nombre_Pais', 'Latitud', 'Longitud']

df_paises.to_csv('/content/drive/MyDrive/Colab Notebooks/paises_lat_long.csv', index=False)
print(df_paises)

             Nombre_Pais    Latitud    Longitud
0         Norfolk Island -29.032804  167.948314
1            Philippines  12.750349  122.731210
2             San Marino  43.945862   12.458306
3             Costa Rica  10.273563  -84.073910
4              Indonesia  -2.483383  117.890285
..                   ...        ...         ...
236           Mozambique -19.302233   34.914498
237                Niger  17.735621    9.323843
238              Vanuatu -16.525507  168.106915
239              Comoros -12.204518   44.283296
240  Trinidad and Tobago  10.746690  -61.084007

[241 rows x 3 columns]